<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cabroninja.tallermiaumovil">

    <application
        android:allowBackup="true"
        android:label="MIAU Taller"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiauTaller">

        <!-- Pantalla principal tras login (sin LAUNCHER) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".OrdenesActivity"
            android:exported="false" />
        <activity
            android:name=".VehiculosActivity"
            android:exported="false" />
        <activity
            android:name=".ClientesActivity"
            android:exported="false" />

        <!-- Login: ES la lanzable; debe ser exported="true" -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
